@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search {
    @apply bg-gray-dark border-none focus:outline-none px-3 py-2 text-gray-lightest shadow-md hover:bg-gray-darkest;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
